<footer class="footer">
<div class="footer__inner">
<div class="footer__content">
<span>2024 Takahiro Nishina. <br class="u-break-sp">All right reserved.</span>
<span>Designed with Adobe XD</span>
</div>
</div>
</footer>