<div class="mv">
<div class="mv__intro">
<div class="mv__wrap">
<h1 class="mv__name">Takahiro Nishina</h1>
<p class="mv__text">Hi there! I'm a <span>Web Developer</span>,<br> serving functional, robust, and witty applications <br class="u-break-pc">and experiences on the Web.</p>
</div>
<img src="<%- imgPath %>mv/img-01.jpg" alt="" width="120" height="120">
</div>
</div>