<div class="profile fn-tab-panel">
<h2 class="tab__hdg">PROFILE</h2>
<p class="tab__lead">Brief introduction of me as a Web Developer</p>

<div class="profile__wrap">
<div class="profile__content">
<div class="profile__textArea">
<em class="profile__lead">My richness of experience and skill</em>
<p class="profile__text">I have over 5 years of professional experience, serving over 100 clients, developing Corporate Websites, LP, SPA, Forms, CMS, and Desktop App from both of frontend and backend perspectives.</p>
<p class="profile__text">The rich is not only experience but also my skill, which is from current mainstream technologies, such as TypeScript, Next.js, Nuxt.js, to developing tools, such as Git, CI/CD.</p>
<p class="profile__text">With those riches, one of feature of my development is to be done with flexibility and well-optimization, because those makes me possible to deal with a complexity or sudden-change of project requirement definition, because those makes me possible to select which technology is suitable for every single project to optimize from technical and methodological perspectives.</p>

<ul class="profile__noteList">
<li>As for my skill, please kindly click the 'Skill' tab button above.</li>
</ul>

</div>
<div class="profile__textArea">
<em class="profile__lead">My developing policy</em>
<p class="profile__text">My development policy is 'Not only appearance but also emphasis on the inner qualities'.</p>
<p class="profile__text">Inner qualities mean aspects that are difficult to be seen and realized by the application UI, such as accessibility, usability, performance, and readability.<br>Those are inclined to be underestimated, but I believe they are crucial factors in Web Development.<br>Since web applications are intended to be used by people, developers should create them to be usable by whoever, whenever, and wherever, and pursue excellence much further.</p>
<p class="profile__text">That is why I manipulate various kinds of tools, such as Lighthouse, Google Dev Tools, Linter, etc. Especially with Lighthouse, I engage in trial-and-error as much as possible to improve the score of each section and enhance the application significantly.</p>
</div>
<div class="profile__img">
<img src="<%- imgPath %>profile/img-01.jpg" alt="" width="384" height="288">
</div>
</div>
</div>
</div>