@charset "utf-8";

@use "../foundation/base/_prop" as *;
@use "../foundation/base/_mixin" as *;

:is(.footer)>*:last-child {
    margin-bottom: 0;
}

.footer {
    position: relative;
    background-image: url("/assets/img/footer/bg-01.svg");
    background-repeat: repeat-x;
    background-position: top center;

    &::before {
        width: 56px;
        height: 56px;
        background-image: url("/assets/img/footer/bg-02.svg");
        background-size: contain;
        background-repeat: no-repeat;
        position: absolute;
        content: "";
        top: -32px;
        left: 40px;
        
    @include pc {
        width: 80px;
        height: 80px;
        top: -48px;
        left: 80px;
    }
    }

    &::after {
        width: 56px;
        height: 56px;
        background-image: url("/assets/img/footer/bg-03.svg");
        background-size: contain;
        background-repeat: no-repeat;
        position: absolute;
        content: "";
        top: -40px;
        right: 40px;

        @include pc {
            width: 80px;
            height: 80px;
            top: -48px;
            right: 80px;
        }
    }

    &__inner {
        padding: 48px $gutter 16px;

        @include pc {
            width: min($inner + $gutter * 2, 100%);
            margin: 0 auto;
            padding: 64px $gutter 12px;
        }
    }

    &__content {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        gap: 12px 24px;

        >span {
            font-size: 1.2rem;
            color: $color-01;
            font-weight: 500;

            @include pc {
                font-size: 1.4rem;
            }
        }
    }

}