@charset "utf-8";

@use "../foundation/base/_prop" as *;
@use "../foundation/base/_mixin" as *;

.scroll {
    position: absolute;
    top: calc(100vh - 110px);
    left: 40px;
    font-family: Caveat;
    font-weight: bold;

    @include pc {
        display: none;
    }

    @media print,
    screen and (min-width:1300px) {
        display: block;
        top: calc(100vh - 200px);
        left: 80px;
    }

    &::before {
        width: .5px;
        height: calc(140px - 120%);
        background-color: $color-01;
        position: absolute;
        content: "";
        bottom: calc(-140px + 100%);
        left: 50%;
        transform: translate(-50%);

        @include pc {
            height: calc(200px - 120%);
            bottom: calc(-200px + 100%);
        }
    }
}